:root {
  --theme-sidebar-width: 15%;
  --theme-sidebar-width-toggle: 60px;
}
html {
  box-sizing: border-box;
}
.theme-sidebar {
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  overflow-y: auto;
  background-color: rgb(220, 220, 220);
  width: var(--theme-sidebar-width);
}
.theme-sidebar-toggle {
  width: var(--theme-sidebar-width-toggle);
}
.theme-sidebar .theme-header-logo {
  margin-right: 6px;
}
.theme-sidebar .theme-header {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 14px;
  background-color: #a19f9f;
  color: #ffffff;
}
.theme-main-content {
  margin-left: var(--theme-sidebar-width);
}
.theme-main-content-toggle {
  margin-left: var(--theme-sidebar-width-toggle);
}
.theme-sidebar::-webkit-scrollbar {
  width: 4px;
}
.theme-sidebar::-webkit-scrollbar-thumb {
  background-color: rgb(191, 191, 191);
  border-radius: 10px;
}
.theme-sidebar h2 {
  font-size: 1.5rem;
  margin-bottom: 1rem;
}
.theme-sidebar ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.theme-sidebar .theme-icon {
  margin-right: 10px;
  font-size: 1.2em;
  margin-left: 20px;
}

.theme-sidebar a {
  display: flex;
  align-items: center;
  color: #333;
  text-decoration: none;
  padding: 10px 0;
  width: 100%;
}

.theme-sidebar a:hover {
  background-color: rgb(191, 191, 191);
}

.theme-sidebar-toggler {
  position: sticky;
  top: 10px;
  left: calc(var(--theme-sidebar-width) + 4px);
  width: 25px;
  cursor: pointer;
}

.theme-sidebar-toggler-close {
  left: calc(var(--theme-sidebar-width-toggle) + 4px);
}

.theme-bar {
  height: 3px;
  width: 100%;
  background-color: #ca6a6a;
  border-radius: 2px;
}
#theme-bar1 {
  transform: translateY(-4px);
}
#theme-bar3 {
  transform: translateY(4px);
}
.theme-menu-text-toggle {
  display: none;
}
.theme-header-title-toggle {
  display: none;
}
.theme-menu-text {
  padding-left: 8px;
}